<div class="welcome">
	<div class="welcome__background">
		<div class="welcome__background__size">
			<div class="welcome__background__image">
				<div class="welcome__text-block">
					<h1>Welcome!</h1>
					<h2>This is a collaborative hub of sources for UX Designers</h2>
				</div>
				<div class="welcome__steps">
					<div class="welcome__steps-image">
						<div class="welcome__steps-image__position">
							<img src="http://wfarm1.dataknet.com/static/resources/icons/set28/7f8535d7.png">
						</div>
						<div class="welcome__steps-image__position">
							<img src="http://wfarm1.dataknet.com/static/resources/icons/set28/7f8535d7.png">
						</div>
						<div class="welcome__steps-image__position">
							<img src="http://wfarm1.dataknet.com/static/resources/icons/set28/7f8535d7.png">
						</div>
					</div>
					<div class="welcome__steps-description">
						<div class="header__steps-description__position">
							<p>Read relevant articles every day</p>
						</div>
						<div class="welcome__steps-description__position">
							<p>find information on lists curated by users</p>
						</div>
						<div class="welcome__steps-description__position">
							<p>Contribute to your pairs by upvoting os sharing interesting resources</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="articles">
	<%= render 'articles/article', obj: @articles %>
</div>

<div class="lists">
	<%= render 'lists/list' %>
</div>