<h1><%= "Category: " + @keyword.name %></h1>
<% if user_signed_in? && current_user.admin? %>
	<%= link_to "Edit category name", edit_keyword_path(@keyword) %>
<% end %>

<%= render 'articles/article', obj: @keyword_articles %>

<%= link_to 'Back', keywords_path %>